<!DOCTYPE html>
<html>
  <head>
    <title> WELCOME</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/" method="post">
    <div class="">
      <label for="userName">Enter your name:</label>
      <input type="text" name="userName" value="">
    </div> <br><br>
    <button type="submit" name="button">Submit</button>
   </form>
    
  </body>
</html>
